# haproxy/haproxy.cfg
global
  log stdout format raw daemon

resolvers docker
  parse-resolv-conf           # usa 127.0.0.11 de Docker
  hold valid 10s

defaults
  mode http
  timeout connect 3s
  timeout client  5s
  timeout server  5s
  option http-keep-alive
  retries 2                             # reintentos
  option redispatch                     # reintentar en otro backend

frontend fe_api
  bind *:80
  # --- Gatekeeper: API-Key obligatoria y bloqueo de métodos peligrosos ---
  acl has_key req.hdr(X-API-Key) -m str 12345-ABCDE
  http-request deny unless has_key
  acl bad_methods method DELETE TRACE
  http-request deny if bad_methods
  default_backend be_api


backend be_api
  balance roundrobin
  option httpchk GET /health
  http-check expect status 200
  #Circuit breaker
  default-server check inter 20s fall 3 rise 2 resolvers docker resolve-prefer ipv4 init-addr libc,none
  server api1 api1:8000
  server api2 api2:8000

listen stats
  bind *:8404
  stats enable
  stats uri /
  stats auth admin:admin
